#auto_players_html {
    margin: 0px;
    padding: 0px;
    height: 240px;
}

.auto_player_root {
    display: table-cell;
    text-align: center;
    width: 150px;
}

.auto_player_name {
    display: inline-block;
    border: 1px #ccc solid;
    width: 120px;
    font-weight: bold;
}
